body {
            font-family: 'Raleway', sans-serif; 
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #fff;
            line-height: 1.6;
        } 
        header {         
            padding: 1rem;
            text-align: center;
            font-family: 'Raleway', sans-serif; 
        }
        .body {
            font-family: 'Raleway', sans-serif; 
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #fff;
            line-height: 1.6;
        }  {
            width: 80%;
            margin: auto;
            overflow: hidden;
            padding: 20px;
        }
        a {
            color: #0099ff;
        }   
                    
        nav {
            padding: 0.5rem;
        }
        nav a {
            color: #0099ff;
            text-decoration: none;
            padding: 0.5rem 1rem;
        }       
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
            padding: 20px;
        }
        #blogLink {
            display: inline-block;           
            color: #0099ff;
            padding: 10px 20px;
            text-decoration: none;          
        }       
